# Local development SQLite database
DATABASE_URL="file:./prisma/dev.db"

# Example: to use Postgres locally instead, uncomment and set appropriate values
# DATABASE_URL="postgresql://user:password@localhost:5432/media_labs?schema=public"
